body {}
#mainPage {
  background: url(../../assets/images/wine.jpeg) no-repeat;
  background-size: cover;
  height: 600px;
  /*height:100%;*/
  /*width:100%;*/
}
#mainPage .jumbotron {
  border-radius: 20px;
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.75);
  max-width: 800px;
  margin: 0 auto;
  margin-top: 150px;
  height: 250px;
}
h1 {
  color: #841b2a;
}
#mainPage {
  text-align: center;
  padding: 200px;
}
.jumbotron {
  padding: 20px;
}
@media (min-width: 576px) {
  #mainPage {
    padding: 20px;
  }
}
@media (min-width: 300px) {
  #mainPage {
    padding: 20px;
  }
}
footer {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
  margin-top: 80px;
  bottom: 0;
  color: #fff;
}
.footer-navigation h3 {
  margin: 0;
  font-family: 'Dosis';
  /* font:normal 36px Cookie, cursive;*/
  margin-bottom: 20px;
  color: #fff;
}
.footer-navigation h3 a {
  text-decoration: none;
  color: #fff;
}
.footer-navigation h3 span {
  color: #5383d3;
}
.footer-navigation p.links a {
  color: #fff;
  text-decoration: none;
}
.footer-navigation p.company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin-top: 20px;
}
@media (max-width:767px) {
  .footer-contacts {
    margin: 30px 0;
  }
}
.footer-contacts p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
}
.footer-contacts p a {
  color: #5383d3;
  text-decoration: none;
}
.fa.footer-contacts-icon {
  background-color: #33383b;
  color: #fff;
  font-size: 18px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 38px;
  margin: 10px 15px 10px 0;
}
span.new-line-span {
  display: block;
  font-weight: normal;
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}
.footer-about h4 {
  display: block;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}
.footer-about p {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}
div.social-links {
  margin-top: 20px;
  color: #fff;
}
.social-links a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 5px;
  margin-bottom: 5px;
}
.navigation-clean {
  background: #fff;
  padding-top: .75rem;
  padding-bottom: .75rem;
  color: #333;
  border-radius: 0;
  box-shadow: none;
  border: none;
  margin-bottom: 0;
}
@media (min-width:768px) {
  .navigation-clean {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
.navigation-clean .navbar-brand {
  font-weight: bold;
  color: #853060;
  font-size: 40px;
}
.navigation-clean .navbar-brand:hover {
  color: #853060;
}
.navigation-clean .navbar-toggler {
  border-color: #ddd;
}
.navigation-clean .navbar-toggler:hover, .navigation-clean .navbar-toggler:focus {
  background: none;
}
.navigation-clean .navbar-toggler {
  color: #888;
}
.navigation-clean .navbar-collapse, .navigation-clean .form-inline {
  border-top-color: #ddd;
}
.navigation-clean.navbar-light .navbar-nav .nav-link.active, .navigation-clean.navbar-light .navbar-nav .nav-link.active:focus, .navigation-clean.navbar-light .navbar-nav .nav-link.active:hover {
  color: #8f8023;
  box-shadow: none;
  background: none;
  pointer-events: none;
}
.navigation-clean.navbar .navbar-nav .nav-link {
  padding-left: 18px;
  padding-right: 18px;
}
.navigation-clean.navbar-light .navbar-nav .nav-link {
  color: #8f8023;
}
.navigation-clean.navbar-light .navbar-nav .nav-link:focus, .navigation-clean.navbar-light .navbar-nav .nav-link:hover {
  color: #37434d !important;
  background-color: transparent;
}
.navigation-clean .navbar-nav>li>.dropdown-menu {
  margin-top: -5px;
  box-shadow: none;
  background-color: #fff;
  border-radius: 2px;
}
.navigation-clean .dropdown-menu .dropdown-item:focus, .navigation-clean .dropdown-menu .dropdown-item {
  line-height: 2;
  color: #37434d;
}
.navigation-clean .dropdown-menu .dropdown-item:focus, .navigation-clean .dropdown-menu .dropdown-item:hover {
  background: #eee;
  color: inherit;
}
.search-form {
  position: relative;
  margin: 40px 5px;
  font: normal 12px sans-serif;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  /* height: 60px;*/
}
.search-form div.input-group-addon {
  background: #fff;
  color: #80A3BD;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  border: 1px solid #b6c3cd;
  border-right: 0;
}
.search-form .input-group input {
  background-color: #ffffff;
  box-shadow: none;
  color: #841b2a;
  outline: none;
  border: 1px solid #b6c3cd;
  border-right: 0;
  border-left: 0;
}
.search-form div.input-group-btn button {
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  background: #8f8023;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  color: #ffffff;
  border-color: #8f8023;
  outline: none;
  opacity: 0.9;
}
.search-form div.input-group-btn button:hover {
  opacity: 1;
}
.search-form div.input-group-btn button:focus:active {
  background-color: #6caee0;
  color: #ffffff;
  outline: none;
}
#searchButton {
  background-color: #8f8023;
  color: #ffffff;
  outline: none;
}
.list-inline {
  text-align: center;
}
@import 'https://fonts.googleapis.com/css?family=Dosis|Roboto:300,400';
* {
  margin: 0;
  padding: 0;
}
/*body {
    background: #ffc185;
}*/

.container {
  /*position:absolute;*/
  /* width: auto;*/
  height: auto;
  top: calc(50% - 240px);
  left: calc(50% - 160px);
}
#mySignInForm {
  position: absolute;
  text-align: center;
  background: #fff;
  width: 310px;
  height: 470px;
  border-radius: 5px;
  padding: 30px 20px 0 20px;
  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  margin-left: 70px;
  top: 80px;
}
#mySignInForm-2 {}
p {
  font-family: 'Roboto', sans-serif;
  /*font-weight: 100;*/
  font-size: 14px;
  color: #3b3b3b;
  margin-bottom: 40px;
}
p>span {
  padding-top: 3px;
  display: block;
  font-weight: 400;
  font-size: 9px;
}
h3 {
  font-family: 'Dosis';
  font-size: 35px;
  text-transform: uppercase;
  color: #3b3b3b;
  margin-bottom: 30px;
}
input, button {
  outline: none !important;
}
button.form-btn {
  position: absolute;
  width: 50%;
  height: 60px;
  bottom: 0;
  border: 0;
  font-family: 'Dosis';
  font-size: 24px;
  text-transform: uppercase;
  cursor: pointer;
}
button.form-btn.sx {
  left: 0;
  border-radius: 0 0 0 5px;
  background-color: rgba(85, 35, 41, 0.35);
  color: #fff;
  transition: all 0.3s linear;
}
button.form-btn.sx:hover {
  background-color: rgba(144, 47, 55, 0.65);
  color: #fff;
}
button.form-btn.sx.back {
  background-color: rgba(0, 0, 0, 0.15);
  transition: all 0.3s linear;
}
button.form-btn.sx.back:hover {
  background-color: rgba(0, 0, 0, 0.35);
}
button.form-btn.dx {
  right: 0;
  border-radius: 0 0 5px 0;
  background-color: #552329;
  color: #fff;
}
input {
  border: none;
  border-bottom: 1px solid #9e934d;
  width: 85%;
  font-family: 'Roboto';
  color: #3b3b3b;
  text-align: center;
  font-size: 21px;
  font-weight: 100;
  margin-bottom: 25px;
}
::-webkit-input-placeholder {
  color: #790000;
  font-family: 'Roboto';
  font-weight: 100;
}
:-moz-placeholder {
  color: #ffc185;
  font-family: 'Roboto';
  font-weight: 100;
}
::-moz-placeholder {
  color: #ffc185;
  font-family: 'Roboto';
  font-weight: 100;
}
:-ms-input-placeholder {
  color: #ffc185;
  font-family: 'Roboto';
  font-weight: 100;
}
.signIn input, .signUp .w100 {
  width: 100%;
}
/*translate3d=reposition 3d element*/

.signIn {
  z-index: 1;
  transform: perspective(100px) translate3d(100px, 0px, -30px);
  opacity: 0.5;
}
.signUp {
  z-index: 2;
}
.active-dx {
  animation-name: foregrounding-dx;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
}
.active-sx {
  animation-name: foregrounding-sx;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
}
.inactive-dx {
  animation-name: overshadowing-dx;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
}
.inactive-sx {
  animation-name: overshadowing-sx;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
}
@keyframes overshadowing-dx {
  0% {
    z-index: 2;
    transform: perspective(100px) translate3d(0px, 0px, 0px);
    opacity: 1;
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.25);
  }
  100% {
    z-index: 1;
    transform: perspective(100px) translate3d(100px, 0px, -30px);
    opacity: 0.5;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.25);
  }
}
@keyframes overshadowing-sx {
  0% {
    z-index: 2;
    transform: perspective(100px) translate3d(0px, 0px, 0px);
    opacity: 1;
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.25);
  }
  100% {
    z-index: 1;
    transform: perspective(100px) translate3d(-100px, 0px, -30px);
    opacity: 0.5;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.25);
  }
}
@keyframes foregrounding-dx {
  0% {
    z-index: 1;
    transform: perspective(100px) translate3d(100px, 0px, -30px);
    opacity: 0.5;
  }
  50% {
    z-index: 2;
    transform: perspective(100px) translate3d(400px, 0px, -30px);
  }
  100% {
    z-index: 2;
    transform: perspective(100px) translate3d(0px, 0px, 0px);
    opacity: 1;
  }
}
@keyframes foregrounding-sx {
  0% {
    z-index: 1;
    transform: perspective(100px) translate3d(-100px, 0px, -30px);
    opacity: 0.5;
  }
  50% {
    z-index: 2;
    transform: perspective(100px) translate3d(-400px, 0px, -30px);
  }
  100% {
    z-index: 2;
    transform: perspective(100px) translate3d(0px, 0px, 0px);
    opacity: 1;
  }
}
.welcome {
  font-family: 'Dosis';
  font-size: 35px;
  text-transform: uppercase;
  color: #3b3b3b;
  margin-bottom: 30px;
}
.modal-content {
  border: none;
}
#mySignInForm {
  position: absolute;
  text-align: center;
  background: #fff;
  width: 310px;
  height: 470px;
  border-radius: 5px;
  padding: 30px 20px 0 20px;
  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  margin-left: 70px;
  z-index: 1;
  transform: perspective(100px) translate3d(100px, 0px, -30px);
}
#mySignUpForm {
  position: absolute;
  text-align: center;
  background: #fff;
  width: 310px;
  height: 470px;
  border-radius: 5px;
  padding: 30px 20px 0 20px;
  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  margin-left: 70px;
  top: 80px;
}
#signInBtn {
  /*right: 0;*/
  margin-left: 100px;
  border-radius: 0 0 5px 0;
  background-color: #552329;
  color: #fff;
}
#signInBtn-2 {
  position: absolute;
  width: 50%;
  height: 60px;
  bottom: 0;
  border: 0;
  font-family: 'Dosis';
  font-size: 24px;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 20px;
  height: 40px;
  width: 240px;
}
button.form-btn.sx {
  left: 0;
  border-radius: 0 0 0 5px;
  background-color: rgba(85, 35, 41, 0.35);
  color: #fff;
  transition: all 0.3s linear;
}
button.form-btn.sx:hover {
  background-color: rgba(144, 47, 55, 0.65);
  color: #fff;
}
button.form-btn.sx.back {
  background-color: rgba(0, 0, 0, 0.15);
  transition: all 0.3s linear;
}
button.form-btn.sx.back:hover {
  background-color: rgba(0, 0, 0, 0.35);
}
button.form-btn.dxx {
  left: 35px;
  top: 400px;
  /* right: 0;*/
  border-radius: 0 0 5px 0;
  background-color: #552329;
  color: #fff;
  /*     margin-left: -80px;
    margin-bottom: 40px;*/
}
.inputEmail {
  border: none;
  border-bottom: 1px solid #9e934d;
  width: 85%;
  font-family: 'Roboto';
  color: #3b3b3b;
  text-align: center;
  font-size: 20px;
  font-weight: 100;
  margin-bottom: 25px;
}
.inputPassword {
  border: none;
  border-bottom: 1px solid #9e934d;
  width: 85%;
  font-family: 'Roboto';
  color: #3b3b3b;
  text-align: center;
  font-size: 20px;
  font-weight: 100;
  margin-bottom: 25px;
}


button.form-btn.dxxx {
  font-size: 20px;
  left: 35px;
  top: 400px;
  /* right: 0;*/
  border-radius: 0 0 5px 0;
  background-color: #552329;
  color: #fff;
  height: 40px;
  width: 240px;
}
#mySignUpForm-2 {
  position: absolute;
  text-align: center;
  background: #fff;
  width: 310px;
  height: 470px;
  border-radius: 5px;
  padding: 30px 20px 0 20px;
  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  margin-left: 70px;
  top: 80px;
  /*position: absolute;
    text-align: center;
    background: #fff;
    width: 410px;
    height: 570px;
    border-radius: 5px;
    padding: 30px 20px 0 20px;
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
margin-left: -37px;
font-size: 45px;
    z-index: 1;
        transform: perspective(100px) translate3d(100px, 0px, -30px);*/
}
#mySignInForm-2 {
  position: absolute;
  text-align: center;
  background: #fff;
  width: 310px;
  height: 470px;
  border-radius: 5px;
  padding: 30px 20px 0 20px;
  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  margin-left: 70px;
  top: 80px;
  /*position: absolute;
    text-align: center;
    background: #fff;
    width: 410px;
    height: 570px;
    border-radius: 5px;
    padding: 30px 20px 0 20px;
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
margin-left: -37px;

    z-index: 1;
        transform: perspective(100px) translate3d(100px, 0px, -30px);
        
  */
}
/*card popup
*/

/*
body {
  background: #ddd;
  width: 100%;
  height: 100vh;
  position: relative;
}*/

h2 {
  color: #007fed;
  font-weight: bold;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
p {
  color: #001818;
}
/*.card animated fadeIn {}*/
.cardcontainer {
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 10%;
  right: 10%;
  bottom: 85px;
  left: 10%;
  padding: 20px 50px;
  display: block;
  border-radius: 4px;
  transform: translateY(20px);
  transition: all 0.5s;
  visibility: hidden;
}
.cardcontainer .card {
  opacity: 0;
}
.cardcontainer:before {
  position: absolute;
  width: 1px;
  height: 1px;
  background: white;
  content: "";
  bottom: 10px;
  left: 50%;
  top: 95%;
  color: #fff;
  /*  border-radius: 50%;*/
  -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
.cardcontainer.active {
  position: absolute;
  display: block;
  visibility: visible;
  box-shadow: 2px 3px 16px silver;
  transition: all 600ms;
  transform: translateY(0px);
  transition: all 0.5s;
  overflow-y: scroll;
}
.cardcontainer.active:before {
  height: 2000px;
  width: 2000px;
  /*  border-radius: 50%;*/
  top: 50%;
  left: 50%;
  margin-left: -1000px;
  margin-top: -1000px;
  display: block;
  -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
.cardcontainer.active .card {
  position: relative;
  z-index: 1;
  opacity: 1;
  transition: all 600ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
a.button {
  padding: 11px 11px 13px 13px;
  outline: none;
  border-radius: 50%;
  /*  background: #007fed;*/
  background: #000000;
  color: #fff;
  font-size: 24px;
  display: block;
  position: fixed;
  left: 50%;
  bottom: 20px;
  top: auto;
  margin-left: -25px;
  transition: transform 0.25s;
}
a.button:hover {
  text-decoration: none;
  background: #2198ff;
}
a.button.active {
  transform: rotate(135deg);
  transition: transform 0.5s;
}
#photoA {
  max-height: 100%;
  max-width: 100%;
}
.fa-window-close {
  /*  background-color: #ffffff;*/
  /*margin-right: 40px;*/
  color: #8f8023;
}
h4.card-title {
  color: #3b3b3b;
}
h6.card-text {
  color: #3b3b3b;
}
p.card-text {
  color: #3b3b3b;
}
.card-text {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}
.card-block {
  max-height: 100%;
}
#map {
  height: 400px;
  width: 500px;
}
.text-dark {
  font-family: 'Roboto', sans-serif;
  /*    font-weight: 300;*/
  font-size: 15px;
  color: #3b3b3b;
  margin-bottom: 40px;
}
#home {
  color: #8f8023;
}
#photoA {
  width: 100%;
  height: 500px;
}
.caption {
  width: 100%;
  bottom: -31.7rem;
  position: relative;
  background: #000;
  background: -webkit-linear-gradient(bottom, #000 40%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
  background: -moz-linear-gradient(bottom, #000 40%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
  background: -o-linear-gradient(bottom, #000 40%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
  background: linear-gradient(to top, #000 40%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.caption h4 {
  color: #fff;
  -webkit-font-smoothing: antialiased;
}




